PORT=3000
SESSION_SECRET=
JWT_SECRET=

BATAUTH_TEST_USER=batman
BATAUTH_TEST_EMAIL=batman@batcave.local
BATAUTH_TEST_PASSWORD=Batcave2026!

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:3000/auth/github/callback

META_CLIENT_ID=
META_CLIENT_SECRET=
META_REDIRECT_URI=http://localhost:3000/auth/meta/callback